.display {
    top: 106px;
    left: 501px;
    width: 364px;
    height: 170px;
    background: var(--unnamed-color-ececec) 0% 0% no-repeat padding-box;
    background: #ECECEC 0% 0% no-repeat padding-box;
    border-radius: 4px 4px 0px 0px;
    opacity: 1;
}